<h2>Записаться</h2>

<form>
  <div action="/visit" method="POST" class="form-group">
    <label>Ваше имя</label>
    <input name="username" type="text" class="form-control" placeholder="Ваше имя">
  </div>
  
    <div action="/visit" method="POST" class="form-group">
    <label>Ваш телефон</label>
    <input name="phone" type="text" class="form-control" placeholder="Ваш телефон">
  </div>

    <div action="/visit" method="POST" class="form-group">
    <label>Когда Вас ждать?</label>
    <input name="datetime" type="text" class="form-control" placeholder="Введите дату и время">
  </div>

  <select class="form-control">
  <option>1</option>
  <option>2</option>
  <option>3</option>
  <option>4</option>
  <option>5</option>
</select>

  <button type="submit" class="btn btn-primary">Записаться</button>
</form>